.detalle-partido {
  background-color: #f1f4f8;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.match-header {
  text-align: center;
  margin-bottom: 20px;
}

.date-league {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.league-logo {
  width: 50px;
  height: 50px;
}

.match-date {
  font-size: 16px;
  color: #555;
}

.match-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.team {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.team-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.team-name {
  font-size: 18px;
}

.vs-indicator {
  font-size: 24px;
  color: #888;
  font-weight: bold;
}

.additional-info {
  margin-top: 20px;
  text-align: left;
  color: black;
}

.odds {
  list-style: none;
  padding: 0;
}

.odds li {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}
.detalle-partido-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.detalle-partido {
  flex: 3;
  margin-right: 20px;
}

.compra-bonos {
  flex: 1;
}
