.navbar-logo {
    height: 60px;
    width: auto;
}

.button-logo {
    height: 60px;
    width: auto;
    transition: box-shadow 0.3s;
}

.navbar-logo:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar-item {
    height: auto;
    font-weight: normal;
    font-size: 20px;
}