.container-login {
    margin: 30px;
}

.form-footer-container {
    position: relative;
}

.footer-background {
    background-size: cover;
    margin-left: auto;
    width: 500px;
    margin-top: auto;
}